# In this notebook, Data Science Tools and Ecosystem are summarized.

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
- Introduction to Git and Github
- Introduction to  python
- Introduction to Jupiter notebook
- Watson studio

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Sql
4. Scala
5. Julia
6. Javascript
7. PHP
8. Go
9. Ruby
10. Visual Basic

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplolib
4. Scikit-learn
5. Keras
6. TensorFlow
7. PyTorch

| Data Science Tools|
| -------------|
|  Python|
| Github |
| Jupyter notebook |
| Anaconda |
| Snyder |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [1]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Peterwens dourolph Denival